<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SpotifyRemoteNS.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SpotifyRemoteNS.Triggers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SpotifyRemoteNS.UserSettings>
            <setting name="TextToolbarVisibleMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TextToolbarHiddenOnInactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackInfoOnChangeMode" serializeAs="String">
                <value>2</value>
            </setting>
        </SpotifyRemoteNS.UserSettings>
        <SpotifyRemoteNS.Triggers>
            <setting name="SettingsShownFirstTime" serializeAs="String">
                <value>False</value>
            </setting>
        </SpotifyRemoteNS.Triggers>
    </userSettings>
</configuration>